#profile_header
  %h2= @profile.name
  
  = link_to "Medications", profile_medications_path(@profile)
  = link_to "Results", profile_results_path(@profile)
  
  %ul.crud_menu
    %li.edit= link_to "Edit", edit_profile_path(@profile)
    %li.delete= link_to "Delete", profile_path(@profile), :method => :delete, :confirm => "Do you really want to delete this profile?"