= render "profiles/header", :profile => @profile

.add_link= link_to "New medication", new_profile_medication_path(@profile)

- if @medications.present?
  #medications_container
    %table.zebra
      %tr
        %th{:style => "width: 20%"}= sort_link @search, :name, "Name"
        %th{:style => "width: 17%"} Duration
        %th{:style => "width: 15%"}= sort_link @search, :route, "Route"
        %th{:style => "width: 20%"} Dose
        %th.right{:style => "width: 20%"}= sort_link @search, :created_at, "Created at"
        %th{:style => "width: 8%"}
      - @medications.each do |medication|
        %tr{:class => cycle('even', 'odd')}
          %td= medication.name
          %td
            = "#{(medication.ended_date - medication.started_date).to_i} days"
            %br/
            %small= "from #{l(medication.started_date)}"
          %td= medication.route
          %td
            = "#{medication.dose} (#{medication.strength})"
            %br/
            = medication.frequency
          %td.right= l(medication.created_at)
          %td
            %ul.icon_menu
              %li= link_to image_tag("icons/edit.png", :alt => "edit"), edit_profile_medication_path(@profile, medication)
              %li= link_to image_tag("icons/delete.png", :alt => "delete"), profile_medication_path(@profile, medication), :method => :delete, :confirm => "Do you really want to delete this medication?"
  = will_paginate @medications
- else
  %p No medications found.