<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medication.name %>
</p>

<p>
  <b>Started date:</b>
  <%= @medication.started_date %>
</p>

<p>
  <b>Ended date:</b>
  <%= @medication.ended_date %>
</p>

<p>
  <b>Route:</b>
  <%= @medication.route %>
</p>

<p>
  <b>Strength:</b>
  <%= @medication.strength %>
</p>

<p>
  <b>Dose:</b>
  <%= @medication.dose %>
</p>

<p>
  <b>Frequency:</b>
  <%= @medication.frequency %>
</p>

<p>
  <b>Note:</b>
  <%= @medication.note %>
</p>


<%= link_to 'Edit', edit_medication_path(@medication) %> |
<%= link_to 'Back', medications_path %>
